[Unit]
Description=AI FastAPI Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/ai-server/app
ExecStart=/home/ubuntu/ai-server/scripts/start-ai.sh
ExecStop=/home/ubuntu/ai-server/scripts/stop-ai.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
